* {
    padding:0px;
    font: 11px;
    font-family: chivo;
    box-sizing: border-box;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #FCFBF8;
    --fg-color: #242321;
    --primary-color: #71706E;
    --tertiery-color: #CFCFCF;
}
html {
    scroll-behavior: smooth;
  }  
header{
    font-size: 1.2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_items{
    display:flex;
}
.nav_item{
    padding: .6rem;
    
}
.nav_item a{
    color: var(--primary-color);
    transition: all 0.3s ease-in;
}
.nav_item a:hover{
    color: var(--fg-color);
    font: 2rem;
} 
.nav_item a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--fg-color); /* Color of the "underline" */
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in; /* Apply the transition to the width property */
}
.nav_item a::before:hover{
    width: 100%;

}
.social_links{
    display: flex;
    align-items: center;
}

body{
    background-color:var(--bg-color);
    color: var(--fg-color);
    width: 80%;
    margin:auto;
}
.landing_page{
    height: 100dvh;
}

.hero{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 5rem;
    border-bottom: 2px var(--primary-color) solid;

}
.welcome{
    font-size: 7rem;
    font-weight: 100;
}
.name{
    font-size: 4rem;
    font-weight: 100;
}
.bio{
    width: 60%;
    margin-top: 5rem;
    font-size: 1.5rem;
}
.skills{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.skill{
    width: 20rem;
    padding: 1rem;
    border: 1px var(--primary-color) solid;
    height: 20rem;
    border-radius: 1.4rem;
}